let config = {
    "MongoDb": {
        "url": 'mongodb://localhost:27018/twitter-api'
    },
    "Twiiter": {
        "credentials": {
            'consumerKey': 'xxx',
            'consumerSecret': 'xxx',
            'accessToken': 'xxx',
            'accessTokenSecret': 'xxx'
        },
        "params": {
            'screen_name': 'meinunterricht',
            'count': 10
        }
    }
};

module.exports = config;