let config = {
    "ElasticSearch": {
        "host": "localhost:9200",
        "log": "trace",
        "requestTimeout": 1000,
        "httpAuth": "elastic:changeme",
        "apiVersion": "5.5"
    },
    "MongoDb": {
        "url": "mongodb://localhost:27017/twitter-api"
    },
    "Twiiter": {
        "credentials": {
            'consumerKey': 'xxx',
            'consumerSecret': 'xxx',
            'accessToken': 'xxx',
            'accessTokenSecret': 'xxx'
        },
        "params": {
            'screen_name': 'meinunterricht',
            'count': 100
        }
    }
};

module.exports = config;